In [1]:
import pymongo
from pymongo import MongoClient

## Establish a Connection

In [2]:
connection = MongoClient('localhost', 27017)

## Getting a Database

In [3]:
db = connection.Employee

## Getting a Collection

In [4]:
db.list_collection_names()

['mydata', 'empdata']

## Fetch Data

In [5]:
data = db.empdata #table nme / collection name
EmployeeList = data.find()

In [6]:
for item in EmployeeList:
    print(item)

{'_id': ObjectId('60ec30db293b5702d9473b0f'), 'Name': 'Harihar', 'Age': 12.0}
{'_id': ObjectId('60ec3177293b5702d9473b10'), 'Name': 'Harihar', 'Age': 32.0}
{'_id': ObjectId('60ec317d293b5702d9473b11'), 'Name': 'Harihar', 'Age': 62.0}
{'_id': ObjectId('60ec3186293b5702d9473b12'), 'Name': 'Harihdd', 'Age': 62.0}
{'_id': ObjectId('60ec39223838a935caa05807'), 'Name': 'Krish', 'Age': 29}
{'_id': ObjectId('60ec39553838a935caa05809'), 'Name': 'Ram', 'Age': 29}
{'_id': ObjectId('60ec39c33838a935caa0580a'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec39c33838a935caa0580b'), 'Name': 'John ', 'Age': 30}
{'_id': ObjectId('60ec39c33838a935caa0580c'), 'Name': 'Manish', 'Age': 34}
{'_id': ObjectId('60ec39c33838a935caa0580d'), 'Name': 'Ram', 'Age': 32}
{'_id': ObjectId('60ec3b585ebb2c7fb74db698'), 'Name': 'Krish', 'Age': 29}
{'_id': ObjectId('60ec3b585ebb2c7fb74db699'), 'Name': 'Ram', 'Age': 29}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69a'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69b'), 'Name': 'John ', 'Age': 30}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69c'), 'Name': 'Manish', 'Age': 34}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69d'), 'Name': 'Ram', 'Age': 32}

## Insert New Record

#### 1. One Record

In [7]:
record={
        'Name':'Krish',
        'Age':29
        }
data.insert_one(record)

In [8]:
record={
        'Name':'Ram',
        'Age':29
        }
data.insert_one(record)

#### 2. Insert Many Record

In [9]:
records=[{
        'Name':'John',
        'qualification':'statistics',
        'Age':35
        
        },
         {
        'Name':'John ',
        'Age':30
        
        },
        {
        'Name':'Manish',
        'Age':34
        
        },
        {
        'Name':'Ram',
        'Age':32
        
        }]

data.insert_many(records)

## Serach Data From DataBase

In [10]:
data.find_one()

{'Age': 12.0, 'Name': 'Harihar', '_id': ObjectId('60ec30db293b5702d9473b0f')}

In [11]:
## Select * from employeeinformation
for record in data.find({}):
    print(record)

{'_id': ObjectId('60ec30db293b5702d9473b0f'), 'Name': 'Harihar', 'Age': 12.0}
{'_id': ObjectId('60ec3177293b5702d9473b10'), 'Name': 'Harihar', 'Age': 32.0}
{'_id': ObjectId('60ec317d293b5702d9473b11'), 'Name': 'Harihar', 'Age': 62.0}
{'_id': ObjectId('60ec3186293b5702d9473b12'), 'Name': 'Harihdd', 'Age': 62.0}
{'_id': ObjectId('60ec39223838a935caa05807'), 'Name': 'Krish', 'Age': 29}
{'_id': ObjectId('60ec39553838a935caa05809'), 'Name': 'Ram', 'Age': 29}
{'_id': ObjectId('60ec39c33838a935caa0580a'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec39c33838a935caa0580b'), 'Name': 'John ', 'Age': 30}
{'_id': ObjectId('60ec39c33838a935caa0580c'), 'Name': 'Manish', 'Age': 34}
{'_id': ObjectId('60ec39c33838a935caa0580d'), 'Name': 'Ram', 'Age': 32}
{'_id': ObjectId('60ec3b585ebb2c7fb74db698'), 'Name': 'Krish', 'Age': 29}
{'_id': ObjectId('60ec3b585ebb2c7fb74db699'), 'Name': 'Ram', 'Age': 29}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69a'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69b'), 'Name': 'John ', 'Age': 30}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69c'), 'Name': 'Manish', 'Age': 34}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69d'), 'Name': 'Ram', 'Age': 32}
{'_id': ObjectId('60ec3c1bc413434812f6862d'), 'Name': 'Krish', 'Age': 29}
{'_id': ObjectId('60ec3c1bc413434812f6862e'), 'Name': 'Ram', 'Age': 29}
{'_id': ObjectId('60ec3c1bc413434812f6862f'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec3c1bc413434812f68630'), 'Name': 'John ', 'Age': 30}
{'_id': ObjectId('60ec3c1bc413434812f68631'), 'Name': 'Manish', 'Age': 34}
{'_id': ObjectId('60ec3c1bc413434812f68632'), 'Name': 'Ram', 'Age': 32}

In [12]:
for record in data.find({'Name':'Harihar'}):
    print(record)

{'_id': ObjectId('60ec30db293b5702d9473b0f'), 'Name': 'Harihar', 'Age': 12.0}
{'_id': ObjectId('60ec3177293b5702d9473b10'), 'Name': 'Harihar', 'Age': 32.0}
{'_id': ObjectId('60ec317d293b5702d9473b11'), 'Name': 'Harihar', 'Age': 62.0}

## Query documents using query operators

### 1. In Operator

In [13]:
for record in data.find({'qualification':{'$in':['statistics']}}):
    print(record)

{'_id': ObjectId('60ec39c33838a935caa0580a'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69a'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec3c1bc413434812f6862f'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}

### 2. Less than/ Lessthan Equal

In [14]:
## And and Query operators lessthan
for record in data.find({'Age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('60ec30db293b5702d9473b0f'), 'Name': 'Harihar', 'Age': 12.0}
{'_id': ObjectId('60ec3177293b5702d9473b10'), 'Name': 'Harihar', 'Age': 32.0}
{'_id': ObjectId('60ec39223838a935caa05807'), 'Name': 'Krish', 'Age': 29}
{'_id': ObjectId('60ec39553838a935caa05809'), 'Name': 'Ram', 'Age': 29}
{'_id': ObjectId('60ec39c33838a935caa0580b'), 'Name': 'John ', 'Age': 30}
{'_id': ObjectId('60ec39c33838a935caa0580c'), 'Name': 'Manish', 'Age': 34}
{'_id': ObjectId('60ec39c33838a935caa0580d'), 'Name': 'Ram', 'Age': 32}
{'_id': ObjectId('60ec3b585ebb2c7fb74db698'), 'Name': 'Krish', 'Age': 29}
{'_id': ObjectId('60ec3b585ebb2c7fb74db699'), 'Name': 'Ram', 'Age': 29}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69b'), 'Name': 'John ', 'Age': 30}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69c'), 'Name': 'Manish', 'Age': 34}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69d'), 'Name': 'Ram', 'Age': 32}
{'_id': ObjectId('60ec3c1bc413434812f6862d'), 'Name': 'Krish', 'Age': 29}
{'_id': ObjectId('60ec3c1bc413434812f6862e'), 'Name': 'Ram', 'Age': 29}
{'_id': ObjectId('60ec3c1bc413434812f68630'), 'Name': 'John ', 'Age': 30}
{'_id': ObjectId('60ec3c1bc413434812f68631'), 'Name': 'Manish', 'Age': 34}
{'_id': ObjectId('60ec3c1bc413434812f68632'), 'Name': 'Ram', 'Age': 32}

In [15]:
## And and Query operators lessthanequal
for record in data.find({'Age':{'$lte':35}}):
    print(record)

{'_id': ObjectId('60ec30db293b5702d9473b0f'), 'Name': 'Harihar', 'Age': 12.0}
{'_id': ObjectId('60ec3177293b5702d9473b10'), 'Name': 'Harihar', 'Age': 32.0}
{'_id': ObjectId('60ec39223838a935caa05807'), 'Name': 'Krish', 'Age': 29}
{'_id': ObjectId('60ec39553838a935caa05809'), 'Name': 'Ram', 'Age': 29}
{'_id': ObjectId('60ec39c33838a935caa0580a'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec39c33838a935caa0580b'), 'Name': 'John ', 'Age': 30}
{'_id': ObjectId('60ec39c33838a935caa0580c'), 'Name': 'Manish', 'Age': 34}
{'_id': ObjectId('60ec39c33838a935caa0580d'), 'Name': 'Ram', 'Age': 32}
{'_id': ObjectId('60ec3b585ebb2c7fb74db698'), 'Name': 'Krish', 'Age': 29}
{'_id': ObjectId('60ec3b585ebb2c7fb74db699'), 'Name': 'Ram', 'Age': 29}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69a'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69b'), 'Name': 'John ', 'Age': 30}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69c'), 'Name': 'Manish', 'Age': 34}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69d'), 'Name': 'Ram', 'Age': 32}
{'_id': ObjectId('60ec3c1bc413434812f6862d'), 'Name': 'Krish', 'Age': 29}
{'_id': ObjectId('60ec3c1bc413434812f6862e'), 'Name': 'Ram', 'Age': 29}
{'_id': ObjectId('60ec3c1bc413434812f6862f'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec3c1bc413434812f68630'), 'Name': 'John ', 'Age': 30}
{'_id': ObjectId('60ec3c1bc413434812f68631'), 'Name': 'Manish', 'Age': 34}
{'_id': ObjectId('60ec3c1bc413434812f68632'), 'Name': 'Ram', 'Age': 32}

### 3. Greater Than / Greater Than Equal

In [16]:
## And and Query operators lessthan
for record in data.find({'Age':{'$gt':35}}):
    print(record)

{'_id': ObjectId('60ec317d293b5702d9473b11'), 'Name': 'Harihar', 'Age': 62.0}
{'_id': ObjectId('60ec3186293b5702d9473b12'), 'Name': 'Harihdd', 'Age': 62.0}

In [17]:
## And and Query operators lessthan
for record in data.find({'Age':{'$gte':35}}):
    print(record)

{'_id': ObjectId('60ec317d293b5702d9473b11'), 'Name': 'Harihar', 'Age': 62.0}
{'_id': ObjectId('60ec3186293b5702d9473b12'), 'Name': 'Harihdd', 'Age': 62.0}
{'_id': ObjectId('60ec39c33838a935caa0580a'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69a'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec3c1bc413434812f6862f'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}

### 4. Or | and Operator

In [18]:
## OR operators
for record in data.find({'$or':[{'Name':'Krish'},{'qualification':'statistics'}]}):
    print(record)

{'_id': ObjectId('60ec39223838a935caa05807'), 'Name': 'Krish', 'Age': 29}
{'_id': ObjectId('60ec39c33838a935caa0580a'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec3b585ebb2c7fb74db698'), 'Name': 'Krish', 'Age': 29}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69a'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec3c1bc413434812f6862d'), 'Name': 'Krish', 'Age': 29}
{'_id': ObjectId('60ec3c1bc413434812f6862f'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}

In [19]:
## OR operators
for record in data.find({'$and':[{'Name':'John'},{'qualification':'statistics'}]}):
    print(record)

{'_id': ObjectId('60ec39c33838a935caa0580a'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec3b585ebb2c7fb74db69a'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}
{'_id': ObjectId('60ec3c1bc413434812f6862f'), 'Name': 'John', 'qualification': 'statistics', 'Age': 35}