In [1]:
import dtale
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'F:\Data Science\Plotly\Pokemon.csv')
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
dtale.show(df)

In [5]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import numpy as np
import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart = np.histogram(df[~pd.isnull(df['Total'])][['Total']], bins=20)
# main statistics
stats = df['Total'].describe().to_frame().T

In [6]:
stats

       count      mean        std    min    25%    50%    75%    max
Total  800.0  435.1025  119.96304  180.0  330.0  450.0  515.0  780.0

In [10]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import numpy as np
import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart = pd.value_counts(df[~pd.isnull(df['Total'])]['Total'])
chart

600    37
405    26
500    23
580    23
300    19
       ..
448     1
454     1
456     1
461     1
180     1
Name: Total, Length: 200, dtype: int64

In [11]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import numpy as np
import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart = np.histogram(df[~pd.isnull(df['Total'])][['Total']], bins=60)
# main statistics
stats = df['Total'].describe().to_frame().T
chart

(array([ 1,  6,  8,  6,  5,  3,  7, 10, 11, 11, 16, 18, 47, 26, 22, 26, 17,
        16, 14,  6, 12, 14, 33, 18, 19, 12, 13, 22, 26, 23, 40, 45, 33, 22,
        34, 24, 11,  4,  4,  2, 23,  5, 37,  5,  2,  7,  1,  0,  1,  4, 13,
         0,  9,  0,  1,  0,  0,  0,  0,  5], dtype=int64),
 array([180., 190., 200., 210., 220., 230., 240., 250., 260., 270., 280.,
        290., 300., 310., 320., 330., 340., 350., 360., 370., 380., 390.,
        400., 410., 420., 430., 440., 450., 460., 470., 480., 490., 500.,
        510., 520., 530., 540., 550., 560., 570., 580., 590., 600., 610.,
        620., 630., 640., 650., 660., 670., 680., 690., 700., 710., 720.,
        730., 740., 750., 760., 770., 780.]))

NameError: name 'plt' is not defined

{'metas': '<meta http-equiv="X-UA-Compatible" content="IE=edge">\n      <meta charset="UTF-8">', 'title': 'Dash', 'css': '<link rel="stylesheet" href="/css/main.css">\n<link rel="stylesheet" href="/css/dash.css">\n<link rel="stylesheet" href="/css/github_fork.css">', 'config': '<script id="_dash-config" type="application/json">{"url_base_pathname": null, "requests_pathname_prefix": "/charts/", "ui": false, "props_check": false, "show_undo_redo": false, "suppress_callback_exceptions": true, "update_title": "Updating..."}</script>', 'scripts': '<script src="/charts/_dash-component-suites/dash_renderer/polyfill@7.v1_8_2m1601635162.8.7.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_renderer/react@16.v1_8_2m1601635162.13.0.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_renderer/react-dom@16.v1_8_2m1601635162.13.0.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_renderer/prop-types@15.v1_8_2m1601635162.7.2.min.js"></script>\n<script src="/dash/components_bundle.js"></script>\n<script src="/dash/custom_bundle.js"></script>\n<script src="/dist/base_styles_bundle.js"></script>\n<script src="/charts/_dash-component-suites/dash_colorscales/bundle.v0_0_4m1601635160.js"></script>\n<script src="/charts/_dash-component-suites/dash_daq/async-colorpicker.v0_5_0m1601635159.js"></script>\n<script src="/charts/_dash-component-suites/dash_daq/async-slider.v0_5_0m1601635159.js"></script>\n<script src="/charts/_dash-component-suites/dash_daq/dash_daq.v0_5_0m1601635159.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_bootstrap_components/_components/dash_bootstrap_components.v0_10_6m1601635125.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/async-datepicker.v1_12_1m1601635164.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/async-dropdown.v1_12_1m1601635164.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/async-graph.v1_12_1m1601635164.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/async-highlight.v1_12_1m1601635164.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/async-markdown.v1_12_1m1601635164.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/async-slider.v1_12_1m1601635164.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/async-upload.v1_12_1m1601635164.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/dash_core_components.v1_12_1m1601635164.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/dash_core_components-shared.v1_12_1m1601635164.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/plotly.v1_12_1m1601635164.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_html_components/dash_html_components.v1_1_1m1601635166.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_renderer/dash_renderer.v1_8_2m1601635162.min.js"></script>', 'app_entry': '\n<div id="react-entry-point">\n    <div class="_dash-loading">\n        Loading...\n    </div>\n</div>\n', 'favicon': '<link rel="icon" type="image/x-icon" href="/charts/_favicon.ico?v=1.16.2">', 'renderer': '<script id="_dash-renderer" type="application/javascript">var renderer = new DashRenderer();</script>'}

2020-10-02 11:41:58,373 - INFO     - NumExpr defaulting to 4 threads.

In [14]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import numpy as np
import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart = pd.value_counts(df[~pd.isnull(df['Name'])]['Name'])
ordinal_data = df.groupby('Name')[['HP']].sum()
chart['ordinal'] = ordinal_data
chart = chart.sort_values('ordinal')

ValueError: No axis named ordinal for object type <class 'pandas.core.series.Series'>

In [16]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import numpy as np
import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart = pd.value_counts(df[~pd.isnull(df['Type 1'])]['Type 1'])
chart

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Exception occurred while processing request: window must be an integer
Traceback (most recent call last):
  File "C:\Users\imsanjoykb\Anaconda3\lib\site-packages\dtale\views.py", line 77, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\imsanjoykb\Anaconda3\lib\site-packages\dtale\views.py", line 2028, in get_column_analysis
    data.groupby(selected_col)[[ordinal_col]], ordinal_agg
  File "C:\Users\imsanjoykb\Anaconda3\lib\site-packages\pandas\core\groupby\groupby.py", line 1568, in rolling
    return RollingGroupby(self, *args, **kwargs)
  File "C:\Users\imsanjoykb\Anaconda3\lib\site-packages\pandas\core\window.py", line 845, in __init__
    super().__init__(obj, *args, **kwargs)
  File "C:\Users\imsanjoykb\Anaconda3\lib\site-packages\pandas\core\window.py", line 93, in __init__
    self.validate()
  File "C:\Users\imsanjoykb\Anaconda3\lib\site-packages\pandas\core\window.py", line 1738, in validate
    raise ValueError("window must be an integer")
ValueError: window must be an integer

2020-10-02 12:00:27,597 - ERROR    - Exception occurred while processing request: window must be an integer
Traceback (most recent call last):
  File "C:\Users\imsanjoykb\Anaconda3\lib\site-packages\dtale\views.py", line 77, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\imsanjoykb\Anaconda3\lib\site-packages\dtale\views.py", line 2028, in get_column_analysis
    data.groupby(selected_col)[[ordinal_col]], ordinal_agg
  File "C:\Users\imsanjoykb\Anaconda3\lib\site-packages\pandas\core\groupby\groupby.py", line 1568, in rolling
    return RollingGroupby(self, *args, **kwargs)
  File "C:\Users\imsanjoykb\Anaconda3\lib\site-packages\pandas\core\window.py", line 845, in __init__
    super().__init__(obj, *args, **kwargs)
  File "C:\Users\imsanjoykb\Anaconda3\lib\site-packages\pandas\core\window.py", line 93, in __init__
    self.validate()
  File "C:\Users\imsanjoykb\Anaconda3\lib\site-packages\pandas\core\window.py", line 1738, in validate
    raise ValueError("window must be an integer")
ValueError: window must be an integer

In [17]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import numpy as np
import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart = pd.value_counts(df[~pd.isnull(df['Defense'])]['Defense'])
charts